@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.fontT{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.fontSpan{
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
}  
*{
    margin: 0;
    padding: 0;
}

p{
    color: rgba(255,255,255,0.5);
    font-size: 18px;
    font-weight: 400;
}
h2{
    color: white;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
}
h4{
    font-size: 24px;
    font-weight: 600;
    color: white;
}
h5{
    font-size: 22px;
    font-weight: 600;
    color: white;
}
/*---------------Header Section--------------*/
header,#page2,footer{
    max-width: 1440px;
    margin: 0 auto;
    padding: 59px 190px;
    position: relative;
    background-color: rgb(17,17,17);
}
/*Navigation Section*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}
ul{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 4px;
    border-radius: 39px;
}
li{
    list-style: none;
}
#ham{
    display: none;
}
#navButton{
    color: white;
    background-color: rgb(230, 83, 60);
    border-radius: 39px;
    font-size: 18px;
    padding: 5px 12px;
}

/*Banner Section*/
.banner{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding-top: 80px;
}
.banText{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
h1{
    color: white;
    font-size: 78px;
    font-weight: 900;
}
.banTextButton{
    display: flex;
    gap: 30px;
}
.banTextButton>button, #page3Button{
    color: white;
    box-sizing: border-box;
    border-radius: 39px;
    padding: 16px 40px;
}
#navBtn1, #page3Button{
    background-color: rgb(230, 83, 60);
    border: 0;
}
#navBtn2{
    border: 1px solid rgb(255,255,255);
    color: black;
}
/*Banner Image*/
.banImg{
    max-width: 1440px;
    margin: 0 auto;
}
#banImgUp, #banImgDown{
    width: 195px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.5);
}
#banImgUp>span, #banImgDownText>span{
    color: white;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    font-size: 40px;
}
.round{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgb(230, 83, 60) ;
}
#banImgUp{
    position: absolute;
    right: 100px;
    top: 330px;
}
#banImgDown{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 450px;
    bottom: 100px;
}

/*-------------------Page 2---------------------*/
#page2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.page2Images{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 40px;
}
.page2ImgText{
    text-align: center;
}
.page2Img{
    border-radius: 50%;
}

/*-----------------Page 3------------------*/
#page3{
    background-color: rgb(17,17,17);
    padding: 59px 190px;
    max-width: 1440px;
    margin: 0 auto;
}
.page3Inner{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    background-color: rgb(34, 34, 34);
    padding: 30px;
    border-radius: 10px;
}
.page3Text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
#page3Img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/*-----------------------Page 5---------------------*/
#page5{
    background-color: rgb(17,17,17);
    padding: 59px 190px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.page5ImageSection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    margin-top: 30px;
}
.imgSec{
    width: 320px;
    height: 272px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}
.page5Text{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.imgSec{
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
}
#img-1{
    background-image: url('/images/trainer1.png');
}
#img-2{
    background-image: url('/images/trainer2.png');
}
#img-3{
    background-image: url('/images/trainer3.png');
}
#img-4{
    background-image: url('/images/trainer4.png');
}
#img-5{
    background-image: url('/images/trainer5.png');
}
#img-6{
    background-image: url('/images/trainer6.png');
}

/*-------------------Footer------------------------*/
.footer{
    display: flex;
    gap: 40px;
}
.footLeft{
    width: 40%;
}
.footLeft>h1{
    color: rgb(230, 83, 60);
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 30px;
}
.footRight{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.footerList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 30px;
    border: 0px;
}
.footerList>li{
    list-style: none;
    color: rgba(255,255,255,0.5);
}

/*------------------------------------------------------------Responsive---------------------------------------------------------------*/

/*------------Header Section-----------------*/
@media screen and (max-width:576px) {
    p{
        color: rgba(255,255,255,0.5);
        font-size: 14px;
        font-weight: 300;
    }
    h2{
        color: white;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    header, #page2, #page5{
        width: 100%;
        margin: 0 auto;
        padding: 20px 30px;
    }
    /*Navigation Section*/
    ul{
        display: none;
    }
    #ham{
        display: contents;
    }
    nav{
        justify-content: space-between;
    }
    /*Banner section*/
    .banner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .banText{
        width: 100%;
    }
    h1{
        color: white;
        font-size: 45px;
        font-weight: 800;
    }
    .banTextButton{
        display: flex;
        gap: 20px;
    }
    .banTextButton>button{
        color: white;
        box-sizing: border-box;
        border-radius: 39px;
        padding: 15px 30px;
    }
    /*Banner Image*/
    #banImgUp, #banImgDown{
        width: 150px;
        height: 70px;
    }
    .banImg{
        width: 100%;
    }
    #banImgUp{
        right: 50px;
        top: 670px;
    }
    #banImgDown{
        right: 220px;
        bottom: 50px;
    }
}

/*-----------------Page 2------------------*/
@media screen and (max-width:576px) {
    .page2Images{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        gap: 20px;
    }
    #page2{
        text-align: center;
    }
}

/*----------------Page 3-------------------*/
@media screen and (max-width:576px) {
    #page3{
        padding: 20px 30px;
        width: 100%;
    }
    .page3Inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }
    .page3Text{
        width: 100%;
    }
    #page3Img{
        width: 300px;
        height: 200px;
        padding-top: 30px;
    }    
}

/*-----------------Page 5----------------------*/
@media screen and (max-width:576px) {
    .page5ImageSection{
        grid-template-columns: repeat(1,1fr);
    }
}